* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    background-color: var(--background-primary);

    font-family: 'Poppins', sans-serif;
}

.app-wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.header,
.button-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.2rem;
}

.button-wrapper {
    gap: 1rem;
}

.title {
    font-size: 1.4rem;
    font-weight: 700;

    color: var(--text-primary);
}

.subtitle {
    font-size: 1rem;
    font-weight: 400;

    color: var(--text-secondary);
}

button {
    width: 14rem;
    height: 3.25rem;

    background-color: var(--background-highlight);
    color: var(--text-primary);

    border: none;
    border-radius: 0.3rem;

    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;

    cursor: pointer;
    transition: all 0.25s ease-in-out;

    user-select: none;
}

button:hover {
    filter: brightness(0.8);
}

input {
    width: 14rem;
    height: 3.25rem;

    background-color: var(--background-highlight);
    color: var(--text-primary);

    border: none;
    border-radius: 0.3rem;

    padding: 0 1rem;

    font-size: 0.8rem;
    font-weight: 600;

    transition: all 0.25s ease-in-out;

    outline: none;
}

.gamerender-blur {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(0.2rem);

    display: flex;
    justify-content: center;
    align-items: center;
}

.gamerender-container {
    width: 80%;
    overflow: hidden;
    border-radius: 1rem;
}

/* Do not edit, this allows you to view changes easily in your browser */
.dev-wrapper {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}
